.header__lang-link {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  text-align: right;
  text-decoration: none;
  margin: 0;
  padding: 0 0 3px 18px;
  width: 30px;
  min-height: 28px;
  transition: opacity 0.3s linear 0.05s;
}

.header__lang-link:hover {
  opacity: 0.2;
}

@media screen and (max-width: 449px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
    width: 22px;
    min-height: 20px;
    padding: 0 0 6px 18px;
  }
}