.photo-grid__item {
  /* Кадры из проекта немного не совпадают сбрифом по причине того что фото брались из готового учебного архива,.. */
  max-width: 100%;
  /* а не из самой фигмы, что разрешено правилами. И в этом архиве фото кадрированы немного иначе, при том же...*/
  max-height: 100%;
  /* размере. Так что картинки имеют одинаковые параметры, просто немного отличаются сами исходники*/
  width: 100%;
  height: 100%;
  object-fit: cover;
}