.photo-grid__item {
  /* При всём уважении, я всё-таки оставлю здесь фото из архива, т.к. никакой технической сложности для приведения их к... */
  max-width: 100%;
  /* соответсвию макету нет, а фото из архива всё же кадрированны более удачно. В фигме же некотрые фото своим...*/
  max-height: 100%;
  /* кадрированием причиняют мне, как любителю фотосъёмки, боль и для портфолио я бы всё равно их поменял на архивные)*/
  width: 100%;
  height: 100%;
  object-fit: cover;
}