.intro__article {
  text-align: start;
  max-width: 690px;
}

@media screen and (max-width: 1023px) {
  .intro__article {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro__article {
    max-width: 416px;
    margin: 0 auto 0;
  }
}

@media screen and (max-width: 449px) {
  .intro__article {
    max-width: 288px;
  }
}